.general-comp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--purple);
  min-height: calc(100vh - 260px);
  overflow: auto;
  padding: 40px 60px;
}

.general-section__wrapper {
  display: grid;
  justify-items: center;
  gap: 65px;
}
