.general-comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #362b2f;
  min-height: calc(100vh - 260px);
  overflow: auto;
  padding: 40px 60px;
}

.general-section__wrapper {
  display: grid;
  align-items: flex-start;
  gap: 25px 0;
}

@media (min-width: 769px) {
  .general-section__wrapper {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 0 25px;
  }
}

.h2__art-des {
  font-family: "Bungee Shade", cursive;
  text-align: center;
  font-size: 32px;
  color: #f0efda;
  line-height: 1;
  margin: 0;
}

@media (min-width: 769px) {
  .h2__art-des {
    text-align: left;
    grid-column: 1;
    grid-row: 1;
    font-size: 50px;
    max-width: 400px;
  }
}

.results__select {
  align-self: center;
  background-color: #141414;
  border: none;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  color: #fafafa;
  width: 50%;
  height: 45px;
}

@media (min-width: 769px) {
  .results__select {
    grid-column: 2;
    grid-row: 1;
  }
}

.modify-data-form {
  display: grid;
  gap: 20px;
  max-width: 425px;
  min-width: 315px;
}

@media (min-width: 769px) {
  .modify-data-form {
    grid-column: 2;
    grid-row: 2;
  }
}

.section-form__h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  color: #f0efda;
  margin: 0;
}

.login-input {
  background-color: #141414;
  border: none;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  color: #fafafa;
  width: 100%;
  height: 45px;
}

@media (min-width: 1069px) {
  .login-input {
    width: 356px;
  }
}

.section-form__error {
  display: none;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  color: #ea2027;
  margin: 0;
}

.login-button {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  color: #f0efda;
  text-align: center;
  border: none;
  background-color: #ac1a22;
  width: 100%;
  height: 45px;
  transition: all 0.25s;
}

.login-button:hover {
  opacity: 85%;
}
